/* * {
  box-sizing: border-box;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 5px solid turquoise;
  height: 100vh;
  width: 70%;
  padding: 30px;
}

.top-bar {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .top-bar_column {
  width: 33%;
} */

.top-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.main-bar {
  display: flex;
  align-items: center;
}

/* .main-bar__column {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.image-box {
  width: 150px;
  height: 150px;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 10px;
}

.btn-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-right: 30px;
}

.btn-bar__play-btn {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 700;
  box-shadow: 0px 5px 0px 0px;
}
.btn-bar__play-btn span {
  margin-left: 10px;
}

.btn-bar__heart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0px 5px 0px 0px;
}
.btn-bar__plus-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0px 5px 0px 0px;
}

.list__songs__image {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 30%;
}

.list {
  display: flex;
  height: 270px;
  align-items: center;
  flex-wrap: wrap;
}

.list__songs {
  height: 50px;
  display: flex;
  font-size: 25px;
  font-weight: 700;
  flex-wrap: wrap;
  background-color: none;
}
.list__songs__image {
  margin-right: 25px;
}
span + span {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
}
.list__songs__name {
  display: flex;
  flex-direction: column;
  background-color: none;
}

.list__songs:nth-child(1) .list__songs__image {
  background-color: #f85a2a;
}
.list__songs:nth-child(2) .list__songs__image {
  background-color: #ff89bb;
}
.list__songs:nth-child(3) .list__songs__image {
  background-color: #1947e5;
}
.list__songs:nth-child(4) .list__songs__image {
  background-color: #01bda7;
}
